* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Sans-serif;
}
.nav {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  height: 15vh;
  width: 100%;
  box-shadow: 0 0 2px black;
  display: grid;
  grid-template-columns: 14% 70%;
  justify-content: space-evenly;
  align-items: center;
  /* background-color:#FF5200 ; */
}
.nav > span > a {
  font-family: "Gilroy", Sans-serif;
  font-size: 13.5px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  position: relative;
}

.nav > span {
  display: flex;
  justify-content: space-between;
}

.nav > a > img {
  height: 48%;
  width: 80%;
}
.nav > span > a:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav > span > a:nth-child(4) > i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .active {
  color: #ff5200;

  transition: all 0.2s linear;
}
.nav .active::after {
  content: "";
  transition: all 0.2s linear;

  /* color: #ff5200; */
  height: 3px;
  width: 50px;
  background-color: #ff5200;
  position: absolute;
  top: 3.6vh;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-self: center;
  border-radius: 16%;
}
.about_us {
  overflow: hidden;
  height: 145vh;
  width: 100%;
  display: grid;
  grid-template-rows: 40vh 1fr;
  position: relative;
}
.about_us > section:nth-child(1) {
  display: grid;
  grid-template-columns: 80%;
  text-align: center;
  /* background-color: blueviolet; */
  align-content: end;
  justify-content: center;
  gap: 15px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.about_us > section:nth-child(1) > p {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.618);
  line-height: 1.5em;
}
.about_us > section > h1 {
  font-family: "Gilroy", Sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 28px;
  /* letter-spacing: .09em; */
}
.about_us > span {
  position: absolute;
  z-index: 1;
}
.about_us > span > img {
  filter: drop-shadow(0px 0 1px rgba(0, 0, 0, 0.653));
}
.about_us > span > img:nth-child(1) {
  position: absolute;
  top: 70px;
  left: -90px;
  transform: rotate(-12deg);
}
/* .about_us > span > img:nth-child(2) {
  position: absolute;
  top: 40px;
  right: -105vw;
  transform: rotate(0deg);
} */
.about_us > section:nth-child(3) {
  background: linear-gradient(
      to left top,
      rgb(255, 255, 255),
      rgb(201, 201, 201)
    ),
    url(/public/aboutpageImages/map1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 100%;
  display: grid;
  grid-template-rows: 40vh 50vh;
  align-content: center;
}
.about_us > section:nth-child(3) > #top > img,
.about_us > section:nth-child(3) > #bottom > img {
  height: 160px;
  width: 160px;
  filter: drop-shadow(0 0 1px #ff510076);
}

.about_us > section:nth-child(3) > #bottom > img:nth-child(2) {
  height: 120px;
  width: 80px;
}
.about_us > section:nth-child(3) > #top {
  display: grid;
  width: 100%;

  grid-template-columns: repeat(3, 27%);
  justify-content: center;
  justify-items: center;
}
.about_us > section:nth-child(3) > #bottom {
  display: grid;
  width: 100%;
  grid-template-columns: 27% 20% 27%;
  justify-content: center;
  justify-items: center;
}

.about_us > section:nth-child(3) > #top > img:nth-child(1) {
  display: flex;
  align-self: end;
  justify-self: end;
}
.about_us > section:nth-child(3) > #top > img:nth-child(3) {
  display: flex;
  justify-self: baseline;
  align-self: end;
}

.about_us > section:nth-child(3) > #bottom > img:nth-child(1) {
  display: flex;
  justify-self: end;
  align-self: end;
}
.about_us > section:nth-child(3) > #bottom > img:nth-child(2) {
  display: flex;
  align-self: baseline;
}
.about_us > section:nth-child(3) > #bottom > img:nth-child(3) {
  display: flex;
  justify-self: baseline;
  align-self: end;
}
.vdo {
  height: 120vh;
  width: 100%;
  display: grid;
  grid-template-rows: 26vh 85vh;
  /* background-color: blue; */
}
.vdo > h1 {
  display: flex;
  justify-self: center;
  align-self: center;
  font-family: "Gilroy", Sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.65);
}
.vdo > section {
  display: grid;
  width: 100%;
  grid-template-rows: 90%;
  place-content: center;
  /* background-color: aqua; */
}
.vdo > section > video {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}
.know_us {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: 20vh 70vh;
  /* background-color: blueviolet; */
  justify-content: center;
}
.know_us > h1 {
  display: flex;
  justify-self: center;
  text-align: center;
  align-self: center;
  font-family: "Gilroy", Sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.65);
}
.know_us > span {
  display: grid;
  grid-template-columns: 20% 30% 30%;
  grid-template-rows: 80%;
  align-content: center;
  justify-content: space-evenly;
}
.know_us > span > div {
  display: grid;
  align-items: center;
  align-content: space-around;
}
.know_us > span > div > h2:nth-child(1) {
  color: #ff5200;
}
.know_us > span > div > h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
}
.know_us > span > div > h2:hover {
  color: #ff5200;
  transition: 1s ease;
}
.know_us > span > div > h2 > i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.know_us > span > p {
  display: flex;
  align-self: center;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.65);
}
.know_us > span > img {
  height: 100%;
  width: 100%;
}
.industry {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: 20vh 70vh;
  /* background-color: blueviolet; */
  justify-content: center;
}
span > hr {
  width: 90%;
  display: flex;
  justify-self: center;
}
.googleMap > h1,
.blog > h1,
.industry > h1 {
  display: flex;
  justify-self: center;
  text-align: center;
  align-self: center;
  font-family: "Gilroy", Sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.65);
}
.industry > span {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
  grid-template-rows: 90%;
  align-content: center;
}
.industry > span > p {
  display: flex;
  align-self: center;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.65);
}
.industry > span > div {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 2px black;
  border-radius: 20px;
}
.industry > span > div:hover img {
  transform: scale(1.1);
  transition: 1s ease;
}
.industry > span > div > img {
  height: 100%;
  width: 100%;
}
.rate {
  height: 30vh;
  width: 100%;

  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 90%;
  justify-content: center;
  align-content: center;
  /* align-items: center; */
}
.rate > section {
  display: grid;
  justify-content: space-evenly;
  grid-auto-flow: column;
  align-items: center;
  /* align-items: center; */
}
.rate > section > hr {
  height: 70%;
}
.rate > section > span {
  display: grid;
  /* place-content: center;
  align-items: center; */
  /* gap: 7px; */
}
.rate > section > span > h1 {
  color: #1ba672;
  font-size: 28px;
  text-transform: capitalize;
  font-family: "Gilroy", Sans-serif;
  font-weight: 900;
  font-size: 28px;
}
.rate > section > span > p {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.65);
}
.management {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 20vh 80vh;
  grid-template-columns: 90%;
  justify-content: center;
  overflow: hidden;
}
.management > section:nth-child(1) {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.management > section:nth-child(2) > div > span > i,
.management > section:nth-child(1) > i {
  background-color: #d9dadb;
  padding: 9px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: vce;
}
.management > section:nth-child(1) > span {
  display: flex;
  gap: 14px;
}
.management > section:nth-child(1) > span > button {
  height: 10vh;
  width: 18vw;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5em;
}
.management > section:nth-child(1) > span > button:nth-child(1) {
  background-color: #ff5200;
  color: white;
}

.management > section:nth-child(1) > span > button:nth-child(2) {
  box-shadow: 0 0 2px black;
  color: rgba(0, 0, 0, 0.65);
}
.management > section:nth-child(2) {
  display: grid;
  overflow: scroll;
  grid-auto-flow: column;
  grid-template-rows: 90%;
  gap: 20px;
}
.management > section:nth-child(2)::-webkit-scrollbar {
  display: none;
}
.management > section:nth-child(2) > div {
  display: grid;
  grid-template-rows: 70% 30%;
  width: 23vw;
}
.management > section:nth-child(2) > div > img {
  height: 100%;
  width: 100%;
}
.management > section:nth-child(2) > div > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;
}
.management > section:nth-child(2) > div > span > span > h1 {
  color: black;
  font-size: 28px;
  text-transform: capitalize;
  font-family: "Gilroy", Sans-serif;
  font-weight: 800;
  font-size: 20px;
}
.management > section:nth-child(2) > div > span > span > p {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.65);
}
.blog {
  height: 130vh;
  width: 100%;
  display: grid;
  grid-template-rows: 20vh 80vh 20vh;
  place-content: center;
  grid-template-columns: 90%;
}
.blog > span {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: 90%;
  align-content: center;
  justify-content: space-between;
}
.blog > span > div {
  display: grid;
  grid-template-rows: 40% 60%;
  box-shadow: 0 0 2px black;
  border-radius: 20px;
}
.blog > span > div > img {
  height: 100%;
  width: 100%;
}
.blog > span > div > section {
  display: grid;
  grid-template-rows: 8% 50% 17%;
  align-content: space-evenly;
  padding: 0 15px;
}
.blog > span > div > section > p {
  text-transform: capitalize;
  font-size: 90%;
}
.blog > span > div > section > h1 {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.809);
}
.blog > span > div > section > button {
  display: grid;
  justify-self: baseline;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  background-color: #ffede3;
  text-transform: capitalize;
  color: #ff5200;
  font-weight: bolder;
  cursor: pointer;
}
.blog > button {
  display: grid;
  justify-self: center;

  align-self: center;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  background-color: #ff5200;
  text-transform: capitalize;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.scan {
  height: 60vh;
  width: 100%;
  display: grid;
  grid-template-rows: 90%;
  grid-template-columns: 100%;
  align-content: center;
}
.scan > img {
  height: 100%;
  width: 100%;
}
.googleMap {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 20vh 70vh;
  grid-template-columns: 90%;
  place-content: center;
}
.googleMap > span {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: 90%;
  justify-content: space-between;
  align-content: center;
}
.googleMap > span > div:nth-child(1) {
  display: grid;
  align-content: baseline;
  gap: 10px;
}
.googleMap > span > div > p {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.809);
}
.googleMap > span > div > b {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.897);
}
.googleMap > span > div > iframe {
  height: 100%;
  border: none;
  border-radius: 20px;
  width: 100%;
  box-shadow: 1px 1px 6px black;
}
